<div style="display: flex; background-color: RGB(255,114,0);" >
<h1 style="margin: auto; padding: 30px; ">ANALYSE DE FICHIERS POUR PREPARER UNE ETUDE DE MARCHE</h1>
</div>


L'objectif est de constituer un dataframe prêt à être utiliser pour réaliser un clustering et une ACP permettant à l'entreprise *La Poule qui chante* de determiner dans quel pays  elle peut envisager de se developper.

#### **Ce notebook se divise en 4 étapes :**

**-1 Importation des librairies et des différents fichiers csv**

**-2 Analyse exploratoire des différents dataframe**

**-3 Agrégation des dataframes en un dataframe unique**

**-4 Standardisation des données et extraction du fichier final**

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">1.1 - Importation des librairies</h3>
</div>

In [5]:
#Importation de la librairie Pandas
import pandas as pd
#Importation de la librairie numpy
import numpy as np

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">1.2 - Chargement des fichiers</h3>
</div>

In [7]:
#Importation du fichier DisponibiliteAlimentaire_2017.csv
df_dispo_alimentaire_2017 = pd.read_csv("DisponibiliteAlimentaire_2017.csv")
#Importation du fichier Population_2000_2018.csv
df_population = pd.read_csv("Population_2000_2018.csv")
#Importation du fichier du %_pop_urbaine_2017
df_pop_urbaine_2017 = pd.read_csv("%_pop_urbaine_2017.csv")
#Importation du fichier croissance_PIB_2017
df_croissance_pib_2017 = pd.read_csv("croissance_PIB_2017.csv")
#Importation du fichier doing_business_2017
df_doing_business_2017 = pd.read_csv("doing_business_2017.csv")
#Importation du fichier IDH_2017
df_idh_2017 = pd.read_csv("IDH_2017.csv", sep=';')
#Importation du fichier pib_par_habitants_2017
df_pib_hbt_2017 = pd.read_csv("pib_par_habitants_2017.csv")
#Importation du fichier stabilité_politique_2017
df_stabilité_politique_2017 = pd.read_csv("stabilité_politique_2017.csv")
#Importation du fichier liaison_zone_fr_en
df_liaison_zone = pd.read_csv("liaison_zone_fr_en.csv")

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - Analyse exploratoire des fichiers</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1 - Analyse exploratoire du dataframe df_dispo_alimentaire_2017</h3>
</div>

In [10]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_dispo_alimentaire_2017.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_dispo_alimentaire_2017.shape[1]))

Le tableau comporte 176600 observation(s) ou article(s)
Le tableau comporte 14 colonne(s)

In [11]:
#Consulter le nombre de colonnes , La nature des données dans chacune des colonnes, et le nombre de valeurs présentes dans chacune des colonnes
df_dispo_alimentaire_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176600 entries, 0 to 176599
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            176600 non-null  object
 1   Domaine                 176600 non-null  object
 2   Code zone               176600 non-null  int64
 3   Zone                    176600 non-null  object
 4   Code Élément            176600 non-null  int64
 5   Élément                 176600 non-null  object
 6   Code Produit            176600 non-null  int64
 7   Produit                 176600 non-null  object
 8   Code année              176600 non-null  int64
 9   Année                   176600 non-null  int64
 10  Unité                   176600 non-null  object
 11  Valeur                  176600 non-null  float64
 12  Symbole                 176600 non-null  object
 13  Description du Symbole  176600 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 18.9+ MB

In [12]:
#Afficher les 5 premières lignes de la table
df_dispo_alimentaire_2017.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

#### **SELECTION DES COLONNES ET DES LIGNES PERTINENTES**

In [14]:
#Selection de la valeur Viande de Volailles dans la colonne produit
df_dispo_alimentaire_volailles = df_dispo_alimentaire_2017[df_dispo_alimentaire_2017["Produit"] == "Viande de Volailles"]

In [15]:
df_dispo_alimentaire_volailles.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
651,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,28.0,S,Données standardisées
652,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2734,Viande de Volailles,2017,2017,Milliers de tonnes,29.0,S,Données standardisées
653,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2734,Viande de Volailles,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
654,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2734,Viande de Volailles,2017,2017,Milliers de tonnes,57.0,S,Données standardisées
655,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5123,Pertes,2734,Viande de Volailles,2017,2017,Milliers de tonnes,2.0,S,Données standardisées

In [16]:
#Suppression de colonnes non utiles
df_dispo_alimentaire_volailles = df_dispo_alimentaire_volailles.copy()
df_dispo_alimentaire_volailles.drop(columns=["Code zone","Code Domaine", "Domaine", "Code Élément", "Code année", "Code Produit", "Description du Symbole"], inplace=True)

In [17]:
df_dispo_alimentaire_volailles.head()

,Zone,Élément,Produit,Année,Unité,Valeur,Symbole
651,Afghanistan,Production,Viande de Volailles,2017,Milliers de tonnes,28.0,S
652,Afghanistan,Importations - Quantité,Viande de Volailles,2017,Milliers de tonnes,29.0,S
653,Afghanistan,Variation de stock,Viande de Volailles,2017,Milliers de tonnes,0.0,S
654,Afghanistan,Disponibilité intérieure,Viande de Volailles,2017,Milliers de tonnes,57.0,S
655,Afghanistan,Pertes,Viande de Volailles,2017,Milliers de tonnes,2.0,S

#### **MODIFICATION DE LA STRUCTURE DU DATAFRAME df_volailles**

In [19]:
#Réalisation d'un pivot pour passer certaines lignes en colonnes
df_volailles = df_dispo_alimentaire_volailles.pivot(index='Zone', columns='Élément', values='Valeur').reset_index()

In [20]:
df_volailles.head()

Élément,Zone,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
0,Afghanistan,NaN,NaN,NaN,5.0,1.53,0.33,0.54,57.0,NaN,29.0,55.0,2.0,28.0,0.0,NaN,NaN,0.0
1,Afrique du Sud,0.0,NaN,NaN,143.0,35.69,9.25,14.11,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,NaN,NaN,-0.0
2,Albanie,NaN,NaN,NaN,85.0,16.36,6.45,6.26,47.0,0.0,38.0,47.0,NaN,13.0,0.0,NaN,NaN,4.0
3,Algérie,0.0,NaN,NaN,22.0,6.38,1.50,1.97,277.0,0.0,2.0,264.0,13.0,275.0,0.0,NaN,NaN,0.0
4,Allemagne,NaN,NaN,NaN,71.0,19.47,4.16,7.96,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0,NaN,167.0,-29.0

In [21]:
#Caractéristiques de df_volailles
df_volailles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 18 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Zone                                                           172 non-null    object
 1   Alimentation pour touristes                                    78 non-null     float64
 2   Aliments pour animaux                                          1 non-null      float64
 3   Autres utilisations (non alimentaire)                          34 non-null     float64
 4   Disponibilité alimentaire (Kcal/personne/jour)                 172 non-null    float64
 5   Disponibilité alimentaire en quantité (kg/personne/an)         172 non-null    float64
 6   Disponibilité de matière grasse en quantité (g/personne/jour)  172 non-null    float64
 7   Disponibilité de protéines en quantité (g/personne/jour)       172 non-null    float64
 8   Disponibilité intérieure                                       170 non-null    float64
 9   Exportations - Quantité                                        135 non-null    float64
 10  Importations - Quantité                                        170 non-null    float64
 11  Nourriture                                                     170 non-null    float64
 12  Pertes                                                         67 non-null     float64
 13  Production                                                     168 non-null    float64
 14  Résidus                                                        164 non-null    float64
 15  Semences                                                       1 non-null      float64
 16  Traitement                                                     46 non-null     float64
 17  Variation de stock                                             169 non-null    float64
dtypes: float64(17), object(1)
memory usage: 24.3+ KB

In [22]:
#Suppression de colonnes non utiles
df_volailles.drop(columns=["Alimentation pour touristes","Aliments pour animaux", "Autres utilisations (non alimentaire)", "Disponibilité alimentaire (Kcal/personne/jour)", "Exportations - Quantité", "Disponibilité intérieure", "Disponibilité de matière grasse en quantité (g/personne/jour)", "Disponibilité de protéines en quantité (g/personne/jour)", "Pertes", "Résidus", "Nourriture", "Semences", "Traitement", "Variation de stock"], inplace=True)

In [23]:
df_volailles.head()

Élément,Zone,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production
0,Afghanistan,1.53,29.0,28.0
1,Afrique du Sud,35.69,514.0,1667.0
2,Albanie,16.36,38.0,13.0
3,Algérie,6.38,2.0,275.0
4,Allemagne,19.47,842.0,1514.0

In [24]:
df_volailles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 4 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Zone                                                    172 non-null    object
 1   Disponibilité alimentaire en quantité (kg/personne/an)  172 non-null    float64
 2   Importations - Quantité                                 170 non-null    float64
 3   Production                                              168 non-null    float64
dtypes: float64(3), object(1)
memory usage: 5.5+ KB

In [25]:
#Identification des lignes comportant des valeurs NaN
lignes_nan = df_volailles[df_volailles.isna().any(axis=1)]
lignes_nan

Élément,Zone,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production
43,Djibouti,2.68,3.0,NaN
92,Maldives,13.50,12.0,NaN
113,Ouzbékistan,1.96,NaN,NaN
130,République démocratique populaire lao,10.91,NaN,NaN

In [26]:
#Suppression des lignes où toutes les valeurs sont manquantes
df_volailles = df_volailles.dropna()

In [27]:
df_volailles.info()

<class 'pandas.core.frame.DataFrame'>
Index: 168 entries, 0 to 171
Data columns (total 4 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Zone                                                    168 non-null    object
 1   Disponibilité alimentaire en quantité (kg/personne/an)  168 non-null    float64
 2   Importations - Quantité                                 168 non-null    float64
 3   Production                                              168 non-null    float64
dtypes: float64(3), object(1)
memory usage: 6.6+ KB

**Le dataframe df_volailles ne comporte plus que 5 colonnes et 168 lignes.**

**Par ailleurs aucune donnée n'est manquante.**

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.2 - Analyse exploratoire du dataframe df_population</h3>
</div>

In [30]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_population.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_population.shape[1]))

Le tableau comporte 4411 observation(s) ou article(s)
Le tableau comporte 15 colonne(s)

In [31]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            4411 non-null   object
 1   Domaine                 4411 non-null   object
 2   Code zone               4411 non-null   int64
 3   Zone                    4411 non-null   object
 4   Code Élément            4411 non-null   int64
 5   Élément                 4411 non-null   object
 6   Code Produit            4411 non-null   int64
 7   Produit                 4411 non-null   object
 8   Code année              4411 non-null   int64
 9   Année                   4411 non-null   int64
 10  Unité                   4411 non-null   object
 11  Valeur                  4411 non-null   float64
 12  Symbole                 4411 non-null   object
 13  Description du Symbole  4411 non-null   object
 14  Note                    258 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 517.0+ KB

#### **SELECTION DES COLONNES ET DES LIGNES PERTINENTES**

In [33]:
df_population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [34]:
#Sélection de l'année 2017
df_population_2017 = df_population[df_population['Année'] == 2017]

In [35]:
df_population_2017.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
17,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,36296.113,X,Sources internationales sûres,NaN
36,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,57009.756,X,Sources internationales sûres,NaN
55,OA,Séries temporelles annuelles,3,Albanie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,2884.169,X,Sources internationales sûres,NaN
74,OA,Séries temporelles annuelles,4,Algérie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,41389.189,X,Sources internationales sûres,NaN
93,OA,Séries temporelles annuelles,79,Allemagne,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,82658.409,X,Sources internationales sûres,NaN

In [36]:
#Suppression de colonnes non essentielles
df_population_2017 = df_population_2017.copy()
df_population_2017.drop(['Code Domaine', 'Domaine', 'Code zone','Code Élément', 'Code Produit', 'Code année','Description du Symbole', 'Symbole', 'Note'], axis=1, inplace=True)

In [37]:
df_population_2017.head()

,Zone,Élément,Produit,Année,Unité,Valeur
17,Afghanistan,Population totale,Population-Estimations,2017,1000 personnes,36296.113
36,Afrique du Sud,Population totale,Population-Estimations,2017,1000 personnes,57009.756
55,Albanie,Population totale,Population-Estimations,2017,1000 personnes,2884.169
74,Algérie,Population totale,Population-Estimations,2017,1000 personnes,41389.189
93,Allemagne,Population totale,Population-Estimations,2017,1000 personnes,82658.409

In [38]:
df_population_2017.rename(columns={"Valeur": "Population"}, inplace=True)

In [39]:
df_population_2017.drop(['Élément', 'Produit', 'Unité'], axis=1, inplace=True)

In [40]:
df_population_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 236 entries, 17 to 4409
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Zone        236 non-null    object
 1   Année       236 non-null    int64
 2   Population  236 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 7.4+ KB

**Le dataframe df_population_2017 ne comporte plus que 3 colonnes et 236 lignes.**

**Par ailleurs aucune donnée n'est manquante.**

#### **Calcul de la population mondiale 2017**

In [43]:
population_mondiale_2017 = round(df_population_2017.Population.sum() *1000)
print("La population mondiale est de", population_mondiale_2017, "habitants en 2017.")

La population mondiale est de 7548134111 habitants en 2017.

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.3 - Analyse exploratoire du dataframe pop_urbaine_2017</h3>
</div>

In [45]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_pop_urbaine_2017.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_pop_urbaine_2017.shape[1]))

Le tableau comporte 217 observation(s) ou article(s)
Le tableau comporte 2 colonne(s)

In [46]:
#Consulter le nombre de colonnes , La nature des données dans chacune des colonnes, et le nombre de valeurs présentes dans chacune des colonnes
df_pop_urbaine_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Zone                       217 non-null    object
 1   % population urbaine 2017  215 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.5+ KB

In [47]:
df_pop_urbaine_2017.head()

             Zone  % population urbaine 2017
0     Afghanistan                     25.250
1         Albania                     59.383
2         Algeria                     72.052
3  American Samoa                     87.170
4         Andorra                     88.150

In [48]:
#Identification des lignes comportant des valeurs NaN
lignes_nan_pop_urb = df_pop_urbaine_2017[df_pop_urbaine_2017.isna().any(axis=1)]
lignes_nan_pop_urb

                         Zone  % population urbaine 2017
105                    Kosovo                        NaN
183  St. Martin (French part)                        NaN

In [49]:
#Suppression des lignes comportant des valeurs manquantes
df_pop_urbaine_2017 = df_pop_urbaine_2017.dropna()

In [50]:
df_pop_urbaine_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 215 entries, 0 to 216
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Zone                       215 non-null    object
 1   % population urbaine 2017  215 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.0+ KB

**Le dataframe df_pop_urbaine_2017 ne comporte plus que 2 colonnes et 215 lignes.**

**Par ailleurs aucune donnée n'est manquante.**

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.4 - Analyse exploratoire du dataframe croissance_pib_2017</h3>
</div>

In [53]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_croissance_pib_2017.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_croissance_pib_2017.shape[1]))

Le tableau comporte 217 observation(s) ou article(s)
Le tableau comporte 2 colonne(s)

In [54]:
#Consulter le nombre de colonnes , La nature des données dans chacune des colonnes, et le nombre de valeurs présentes dans chacune des colonnes
df_croissance_pib_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Zone                 217 non-null    object
 1   Croissance PIB 2017  217 non-null    object
dtypes: object(2)
memory usage: 3.5+ KB

In [55]:
#Convertir les valeurs de la colonne Croissance PIB 2017 au format numérique
df_croissance_pib_2017["Croissance PIB 2017"] = pd.to_numeric(df_croissance_pib_2017["Croissance PIB 2017"], errors='coerce')

In [56]:
df_croissance_pib_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Zone                 217 non-null    object
 1   Croissance PIB 2017  209 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.5+ KB

In [57]:
#Identification des lignes comportant des valeurs manquantes
lignes_nan_croissancepib = df_croissance_pib_2017[df_croissance_pib_2017.isna().any(axis=1)]
lignes_nan_croissancepib

                          Zone  Croissance PIB 2017
27      British Virgin Islands                  NaN
61                     Eritrea                  NaN
75                   Gibraltar                  NaN
103  Korea, Dem. People's Rep.                  NaN
114              Liechtenstein                  NaN
140              New Caledonia                  NaN
178                South Sudan                  NaN
210              Venezuela, RB                  NaN

In [58]:
#Suppression des lignes comportant des valeurs manquantes
df_croissance_pib_2017 = df_croissance_pib_2017.dropna()

In [59]:
df_croissance_pib_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 209 entries, 0 to 216
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Zone                 209 non-null    object
 1   Croissance PIB 2017  209 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.9+ KB

**Le dataframe df_croissance_pib_2017 ne comporte plus que 2 colonnes et 209 lignes.**

**Par ailleurs aucune donnée n'est manquante.**

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.5 - Analyse exploratoire du dataframe doing_business_2017</h3>
</div>

In [62]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_doing_business_2017.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_doing_business_2017.shape[1]))

Le tableau comporte 191 observation(s) ou article(s)
Le tableau comporte 2 colonne(s)

In [63]:
#Consulter le nombre de colonnes , La nature des données dans chacune des colonnes, et le nombre de valeurs présentes dans chacune des colonnes
df_doing_business_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Zone                       191 non-null    object
 1   Doing business score 2017  191 non-null    object
dtypes: object(2)
memory usage: 3.1+ KB

In [64]:
#Convertir les valeurs de la colonne Croissance PIB 2017 au format numérique
df_doing_business_2017["Doing business score 2017"] = pd.to_numeric(df_doing_business_2017["Doing business score 2017"], errors='coerce')

In [65]:
df_doing_business_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Zone                       191 non-null    object
 1   Doing business score 2017  190 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.1+ KB

In [66]:
df_doing_business_2017.head()

                  Zone  Doing business score 2017
0          Afghanistan                   37.13062
1              Albania                   66.83770
2              Algeria                   46.22686
3               Angola                   39.00774
4  Antigua and Barbuda                   59.79669

In [67]:
#Identification des lignes comportant des valeurs manquantes
lignes_nan_db2017 = df_doing_business_2017[df_doing_business_2017.isna().any(axis=1)]
lignes_nan_db2017

             Zone  Doing business score 2017
98  Liechtenstein                        NaN

In [68]:
#Suppression des lignes comportant des valeurs manquantes
df_doing_business_2017 = df_doing_business_2017.dropna()

In [69]:
df_doing_business_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 190 entries, 0 to 190
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Zone                       190 non-null    object
 1   Doing business score 2017  190 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.5+ KB

**Le dataframe df_doing_business_2017 ne comporte plus que 2 colonnes et 190 lignes.**

**Par ailleurs aucune donnée n'est manquante.**

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.6 - Analyse exploratoire du dataframe idh_2017</h3>
</div>

In [72]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_idh_2017.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_idh_2017.shape[1]))

Le tableau comporte 192 observation(s) ou article(s)
Le tableau comporte 2 colonne(s)

In [73]:
#Consulter le nombre de colonnes , La nature des données dans chacune des colonnes, et le nombre de valeurs présentes dans chacune des colonnes
df_idh_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Zone      192 non-null    object
 1   Idh 2017  192 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.1+ KB

In [74]:
df_idh_2017.head()

                   Zone  Idh 2017
0           Afghanistan     0.496
1                Angola     0.610
2               Albania     0.798
3               Andorra     0.873
4  United Arab Emirates     0.884

**Le dataframe idh_2017 n'a pas été modifié et aucune donnée ne sont manquantes .**

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.7 - Analyse exploratoire du dataframe pib_hbt_2017</h3>
</div>

In [77]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_pib_hbt_2017.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_pib_hbt_2017.shape[1]))

Le tableau comporte 217 observation(s) ou article(s)
Le tableau comporte 2 colonne(s)

In [78]:
#Consulter le nombre de colonnes , La nature des données dans chacune des colonnes, et le nombre de valeurs présentes dans chacune des colonnes
df_pib_hbt_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Zone            217 non-null    object
 1   PIB / hbt 2017  217 non-null    object
dtypes: object(2)
memory usage: 3.5+ KB

In [79]:
df_pib_hbt_2017.head()

             Zone    PIB / hbt 2017
0     Afghanistan  562.769574140988
1         Albania  4283.98262744437
2         Algeria  4742.90075532529
3  American Samoa  11930.7771236826
4         Andorra  39361.0622634329

In [80]:
#Convertir les valeurs de la colonne Croissance PIB 2017 au format numérique
df_pib_hbt_2017["PIB / hbt 2017"] = pd.to_numeric(df_pib_hbt_2017["PIB / hbt 2017"], errors='coerce')

In [81]:
df_pib_hbt_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Zone            217 non-null    object
 1   PIB / hbt 2017  208 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.5+ KB

In [82]:
#Identification des lignes comportant des valeurs manquantes
lignes_nan_pbihbt = df_pib_hbt_2017[df_pib_hbt_2017.isna().any(axis=1)]
lignes_nan_pbihbt

                          Zone  PIB / hbt 2017
27      British Virgin Islands             NaN
61                     Eritrea             NaN
75                   Gibraltar             NaN
103  Korea, Dem. People's Rep.             NaN
114              Liechtenstein             NaN
140              New Caledonia             NaN
178                South Sudan             NaN
183   St. Martin (French part)             NaN
210              Venezuela, RB             NaN

In [83]:
#Suppression des lignes comportant des valeurs manquantes
df_pib_hbt_2017 = df_pib_hbt_2017.dropna()

In [84]:
df_pib_hbt_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 208 entries, 0 to 216
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Zone            208 non-null    object
 1   PIB / hbt 2017  208 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.9+ KB

**Le dataframe df_pib_hbt_2017 ne comporte plus que 2 colonnes et 208 lignes.**

**Par ailleurs aucune donnée n'est manquante.**

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.8 - Analyse exploratoire du dataframe stabilité_politique_2017</h3>
</div>

In [87]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_stabilité_politique_2017.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_stabilité_politique_2017.shape[1]))

Le tableau comporte 214 observation(s) ou article(s)
Le tableau comporte 2 colonne(s)

In [88]:
#Consulter le nombre de colonnes , La nature des données dans chacune des colonnes, et le nombre de valeurs présentes dans chacune des colonnes
df_stabilité_politique_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Zone                      214 non-null    object
 1   Stabilité Politique 2017  214 non-null    object
dtypes: object(2)
memory usage: 3.5+ KB

In [89]:
df_stabilité_politique_2017.head()

             Zone Stabilité Politique 2017
0     Afghanistan         -2.7949755191803
1         Albania        0.373770743608475
2         Algeria       -0.919614315032959
3  American Samoa         1.18432366847992
4         Andorra         1.39288973808289

In [90]:
#Convertir les valeurs de la colonne Croissance PIB 2017 au format numérique
df_stabilité_politique_2017["Stabilité Politique 2017"] = pd.to_numeric(df_stabilité_politique_2017["Stabilité Politique 2017"], errors='coerce')

In [91]:
df_stabilité_politique_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Zone                      214 non-null    object
 1   Stabilité Politique 2017  211 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.5+ KB

In [92]:
#Identification des lignes comportant des valeurs manquantes
lignes_nan_stapol = df_stabilité_politique_2017[df_stabilité_politique_2017.isna().any(axis=1)]
lignes_nan_stapol

                     Zone  Stabilité Politique 2017
45           Cook Islands                       NaN
138  Netherlands Antilles                       NaN
143                  Niue                       NaN

In [93]:
#Suppression des lignes comportant des valeurs manquantes
df_stabilité_politique_2017 = df_stabilité_politique_2017.dropna()

In [94]:
df_stabilité_politique_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 211 entries, 0 to 213
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Zone                      211 non-null    object
 1   Stabilité Politique 2017  211 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.9+ KB

**Le dataframe df_stabilité_politique_2017 ne comporte plus que 2 colonnes et 211 lignes.**

**Par ailleurs aucune donnée n'est manquante.**

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.9 - Analyse exploratoire du dataframe liaison_zone</h3>
</div>

In [97]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_liaison_zone.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_liaison_zone.shape[1]))

Le tableau comporte 218 observation(s) ou article(s)
Le tableau comporte 2 colonne(s)

In [98]:
#Consulter le nombre de colonnes , La nature des données dans chacune des colonnes, et le nombre de valeurs présentes dans chacune des colonnes
df_liaison_zone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Zone fr  218 non-null    object
 1   Zone en  218 non-null    object
dtypes: object(2)
memory usage: 3.5+ KB

In [99]:
df_liaison_zone.head()

             Zone fr         Zone en
0        Afghanistan     Afghanistan
1            Albanie         Albania
2            Algérie         Algeria
3  Samoa américaines  American Samoa
4            Andorre         Andorra

**Le dataframe df_liaison_zone n'a pas été modifié et aucune donnée ne sont manquantes .**

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 3 - Jointure des dataframes</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">3.1 - Jointure df_volailles et df_population_2017</h3>
</div>

In [103]:
#Jointure entre les dataframes df_volailles et df_population_2017
df_volailles_pop2017 = pd.merge(df_volailles, df_population_2017, on='Zone', how='outer', indicator=True)

In [104]:
#Vérification des correspondances
df_volailles_pop2017._merge.value_counts()

_merge
both          168
right_only     68
left_only       0
Name: count, dtype: int64

In [105]:
#Identification des données uniquement présent dans df_population_2017
df_right_only_pop = df_volailles_pop2017[df_volailles_pop2017["_merge"] == "right_only"]
df_right_only_pop

,Zone,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Année,Population,_merge
5,Andorre,NaN,NaN,NaN,2017,77.001,right_only
7,Anguilla,NaN,NaN,NaN,2017,14.584,right_only
9,Antilles néerlandaises (ex),NaN,NaN,NaN,2017,275.186,right_only
13,Aruba,NaN,NaN,NaN,2017,105.366,right_only
18,Bahreïn,NaN,NaN,NaN,2017,1494.076,right_only
...,...,...,...,...,...,...,...
230,Îles Marshall,NaN,NaN,NaN,2017,58.058,right_only
232,Îles Turques-et-Caïques,NaN,NaN,NaN,2017,37.115,right_only
233,Îles Vierges américaines,NaN,NaN,NaN,2017,104.751,right_only
234,Îles Vierges britanniques,NaN,NaN,NaN,2017,29.577,right_only
235,Îles Wallis-et-Futuna,NaN,NaN,NaN,2017,11.900,right_only

In [106]:
#On ne garde que les lignes avec  correspondances
df_volailles_pop2017 = df_volailles_pop2017[df_volailles_pop2017["_merge"] == "both"]

In [107]:
#Informations concernant le nouveau dataframe
df_volailles_pop2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 168 entries, 0 to 231
Data columns (total 7 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Zone                                                    168 non-null    object
 1   Disponibilité alimentaire en quantité (kg/personne/an)  168 non-null    float64
 2   Importations - Quantité                                 168 non-null    float64
 3   Production                                              168 non-null    float64
 4   Année                                                   168 non-null    int64
 5   Population                                              168 non-null    float64
 6   _merge                                                  168 non-null    category
dtypes: category(1), float64(4), int64(1), object(1)
memory usage: 9.5+ KB

In [108]:
df_volailles_pop2017.head()

,Zone,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Année,Population,_merge
0,Afghanistan,1.53,29.0,28.0,2017,36296.113,both
1,Afrique du Sud,35.69,514.0,1667.0,2017,57009.756,both
2,Albanie,16.36,38.0,13.0,2017,2884.169,both
3,Algérie,6.38,2.0,275.0,2017,41389.189,both
4,Allemagne,19.47,842.0,1514.0,2017,82658.409,both

In [109]:
#Suppression de colonnes non utiles
df_volailles_pop2017.drop(columns=["_merge","Année"], inplace=True)

In [110]:
df_volailles_pop2017.head()

,Zone,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population
0,Afghanistan,1.53,29.0,28.0,36296.113
1,Afrique du Sud,35.69,514.0,1667.0,57009.756
2,Albanie,16.36,38.0,13.0,2884.169
3,Algérie,6.38,2.0,275.0,41389.189
4,Allemagne,19.47,842.0,1514.0,82658.409

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">3.2 - Jointure df_volailles_pop2017 et df_liaison_zone</h3>
</div>

In [112]:
#Jointure entre les dataframes df_volailles et df_population_2017
df_volailles_pop2017_liaison = df_volailles_pop2017.merge(df_liaison_zone, left_on='Zone', right_on="Zone fr", how='outer', indicator=True)

In [113]:
#Vérification des correspondances
df_volailles_pop2017_liaison._merge.value_counts()

_merge
both          168
right_only     50
left_only       0
Name: count, dtype: int64

In [114]:
#Identification des données uniquement présent dans df_population_2017
df_right_only_liaison = df_volailles_pop2017_liaison[df_volailles_pop2017_liaison["_merge"] == "right_only"]
df_right_only_liaison

,Zone,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone fr,Zone en,_merge
5,NaN,NaN,NaN,NaN,NaN,Andorre,Andorra,right_only
11,NaN,NaN,NaN,NaN,NaN,Aruba,Aruba,right_only
16,NaN,NaN,NaN,NaN,NaN,Bahreïn,Bahrain,right_only
21,NaN,NaN,NaN,NaN,NaN,Bermudes,Bermuda,right_only
22,NaN,NaN,NaN,NaN,NaN,Bhoutan,Bhutan,right_only
26,NaN,NaN,NaN,NaN,NaN,Brunéi Darussalam,Brunei Darussalam,right_only
30,NaN,NaN,NaN,NaN,NaN,Burundi,Burundi,right_only
44,NaN,NaN,NaN,NaN,NaN,Comores,Comoros,right_only
49,NaN,NaN,NaN,NaN,NaN,Curaçao,Curacao,right_only
52,NaN,NaN,NaN,NaN,NaN,Djibouti,Djibouti,right_only
65,NaN,NaN,NaN,NaN,NaN,Gibraltar,Gibraltar,right_only
67,NaN,NaN,NaN,NaN,NaN,Groenland,Greenland,right_only
69,NaN,NaN,NaN,NaN,NaN,Guam,Guam,right_only
72,NaN,NaN,NaN,NaN,NaN,Guinée équatoriale,Equatorial Guinea,right_only
94,NaN,NaN,NaN,NaN,NaN,Kosovo,Kosovo,right_only
99,NaN,NaN,NaN,NaN,NaN,Libye,Libya,right_only
101,NaN,NaN,NaN,NaN,NaN,Liechtenstein,Liechtenstein,right_only
108,NaN,NaN,NaN,NaN,NaN,Maldives,Maldives,right_only
115,NaN,NaN,NaN,NaN,NaN,Micronésie (États fédérés de),"Micronesia, Fed. Sts.",right_only
116,NaN,NaN,NaN,NaN,NaN,Monaco,Monaco,right_only
122,NaN,NaN,NaN,NaN,NaN,Nauru,Nauru,right_only
132,NaN,NaN,NaN,NaN,NaN,Ouzbékistan,Uzbekistan,right_only
134,NaN,NaN,NaN,NaN,NaN,Palaos,Palau,right_only
135,NaN,NaN,NaN,NaN,NaN,Palestine,West Bank and Gaza,right_only
137,NaN,NaN,NaN,NaN,NaN,Papouasie-Nouvelle-Guinée,Papua New Guinea,right_only
143,NaN,NaN,NaN,NaN,NaN,Porto Rico,Puerto Rico (US),right_only
146,NaN,NaN,NaN,NaN,NaN,Qatar,Qatar,right_only
150,NaN,NaN,NaN,NaN,NaN,République arabe syrienne,Syrian Arab Republic,right_only
155,NaN,NaN,NaN,NaN,NaN,République démocratique du Congo,"Congo, Dem. Rep.",right_only
156,NaN,NaN,NaN,NaN,NaN,République démocratique populaire lao,Lao PDR,right_only
160,NaN,NaN,NaN,NaN,NaN,Saint-Marin,San Marino,right_only
161,NaN,NaN,NaN,NaN,NaN,Saint-Martin (partie française),St. Martin (French part),right_only
165,NaN,NaN,NaN,NaN,NaN,Samoa américaines,American Samoa,right_only
168,NaN,NaN,NaN,NaN,NaN,Seychelles,Seychelles,right_only
170,NaN,NaN,NaN,NaN,NaN,Singapour,Singapore,right_only
171,NaN,NaN,NaN,NaN,NaN,Sint Maarten (partie néerlandaise),Sint Maarten (Dutch part),right_only
174,NaN,NaN,NaN,NaN,NaN,Somalie,"Somalia, Fed. Rep.",right_only
176,NaN,NaN,NaN,NaN,NaN,Soudan du Sud,South Sudan,right_only
188,NaN,NaN,NaN,NaN,NaN,Tonga,Tonga,right_only
193,NaN,NaN,NaN,NaN,NaN,Tuvalu,Tuvalu,right_only
205,NaN,NaN,NaN,NaN,NaN,Érythrée,Eritrea,right_only
208,NaN,NaN,NaN,NaN,NaN,Île de Man,Isle of Man,right_only
209,NaN,NaN,NaN,NaN,NaN,Îles Anglo-Normandes,Channel Islands,right_only
210,NaN,NaN,NaN,NaN,NaN,Îles Caïmanes,Cayman Islands,right_only
211,NaN,NaN,NaN,NaN,NaN,Îles Féroé,Faroe Islands,right_only
212,NaN,NaN,NaN,NaN,NaN,Îles Mariannes du Nord,Northern Mariana Islands,right_only
213,NaN,NaN,NaN,NaN,NaN,Îles Marshall,Marshall Islands,right_only
215,NaN,NaN,NaN,NaN,NaN,Îles Turques-et-Caïques,Turks and Caicos Islands,right_only
216,NaN,NaN,NaN,NaN,NaN,Îles Vierges américaines,Virgin Islands (U.S.),right_only
217,NaN,NaN,NaN,NaN,NaN,îles Vierges britanniques,British Virgin Islands,right_only

In [115]:
#On ne garde que les lignes avec  correspondances
df_volailles_pop2017_liaison = df_volailles_pop2017_liaison[df_volailles_pop2017_liaison["_merge"] == "both"]

In [116]:
df_volailles_pop2017_liaison.info()

<class 'pandas.core.frame.DataFrame'>
Index: 168 entries, 0 to 214
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Zone                                                    168 non-null    object
 1   Disponibilité alimentaire en quantité (kg/personne/an)  168 non-null    float64
 2   Importations - Quantité                                 168 non-null    float64
 3   Production                                              168 non-null    float64
 4   Population                                              168 non-null    float64
 5   Zone fr                                                 168 non-null    object
 6   Zone en                                                 168 non-null    object
 7   _merge                                                  168 non-null    category
dtypes: category(1), float64(4), object(3)
memory usage: 10.8+ KB

In [117]:
#Suppression de colonnes non utiles
df_volailles_pop2017_liaison.drop(columns=["_merge","Zone fr"], inplace=True)

In [118]:
df_volailles_pop2017_liaison

,Zone,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en
0,Afghanistan,1.53,29.0,28.0,36296.113,Afghanistan
1,Afrique du Sud,35.69,514.0,1667.0,57009.756,South Africa
2,Albanie,16.36,38.0,13.0,2884.169,Albania
3,Algérie,6.38,2.0,275.0,41389.189,Algeria
4,Allemagne,19.47,842.0,1514.0,82658.409,Germany
...,...,...,...,...,...,...
203,Émirats arabes unis,43.47,433.0,48.0,9487.203,United Arab Emirates
204,Équateur,19.31,0.0,340.0,16785.361,Ecuador
206,États-Unis d'Amérique,55.68,123.0,21914.0,325084.756,United States
207,Éthiopie,0.13,1.0,14.0,106399.924,Ethiopia
214,Îles Salomon,4.45,6.0,0.0,636.039,Solomon Islands

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">3.3 - Jointure df_volailles_pop2017_liaison et df_pop_urbaine_2017</h3>
</div>

In [120]:
#Jointure entre les dataframes df_volailles_pop2017 et df_pop_urbaine_2017
df_avec_pop_urb = df_volailles_pop2017_liaison.merge(df_pop_urbaine_2017, left_on='Zone en', right_on="Zone", how='outer', indicator=True)

In [121]:
#Vérification des correspondances
df_avec_pop_urb._merge.value_counts()

_merge
both          167
right_only     48
left_only       1
Name: count, dtype: int64

In [122]:
#Identification des données uniquement dans df_volailles_pop2017_liaison
df_left_only_volailles = df_avec_pop_urb[df_avec_pop_urb["_merge"] == "left_only"]
df_left_only_volailles

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,Zone_y,% population urbaine 2017,_merge
188,"Chine, Taiwan Province de",33.17,161.0,652.0,23674.546,"Taiwan, China",NaN,NaN,left_only

In [123]:
#Identification des données uniquement présentes dans df_pop_urb_2017
df_right_only_pop_urb = df_avec_pop_urb[df_avec_pop_urb["_merge"] == "right_only"]
df_right_only_pop_urb

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,Zone_y,% population urbaine 2017,_merge
3,NaN,NaN,NaN,NaN,NaN,NaN,American Samoa,87.170,right_only
4,NaN,NaN,NaN,NaN,NaN,NaN,Andorra,88.150,right_only
9,NaN,NaN,NaN,NaN,NaN,NaN,Aruba,43.293,right_only
14,NaN,NaN,NaN,NaN,NaN,NaN,Bahrain,89.186,right_only
21,NaN,NaN,NaN,NaN,NaN,NaN,Bermuda,100.000,right_only
22,NaN,NaN,NaN,NaN,NaN,NaN,Bhutan,40.167,right_only
27,NaN,NaN,NaN,NaN,NaN,NaN,British Virgin Islands,47.337,right_only
28,NaN,NaN,NaN,NaN,NaN,NaN,Brunei Darussalam,77.312,right_only
31,NaN,NaN,NaN,NaN,NaN,NaN,Burundi,12.706,right_only
36,NaN,NaN,NaN,NaN,NaN,NaN,Cayman Islands,100.000,right_only
39,NaN,NaN,NaN,NaN,NaN,NaN,Channel Islands,30.914,right_only
43,NaN,NaN,NaN,NaN,NaN,NaN,Comoros,28.784,right_only
44,NaN,NaN,NaN,NaN,NaN,NaN,"Congo, Dem. Rep.",43.880,right_only
50,NaN,NaN,NaN,NaN,NaN,NaN,Curacao,89.203,right_only
54,NaN,NaN,NaN,NaN,NaN,NaN,Djibouti,77.648,right_only
60,NaN,NaN,NaN,NaN,NaN,NaN,Equatorial Guinea,71.646,right_only
61,NaN,NaN,NaN,NaN,NaN,NaN,Eritrea,39.451,right_only
65,NaN,NaN,NaN,NaN,NaN,NaN,Faroe Islands,41.914,right_only
75,NaN,NaN,NaN,NaN,NaN,NaN,Gibraltar,100.000,right_only
77,NaN,NaN,NaN,NaN,NaN,NaN,Greenland,86.574,right_only
79,NaN,NaN,NaN,NaN,NaN,NaN,Guam,94.699,right_only
94,NaN,NaN,NaN,NaN,NaN,NaN,Isle of Man,52.458,right_only
107,NaN,NaN,NaN,NaN,NaN,NaN,Lao PDR,34.368,right_only
112,NaN,NaN,NaN,NaN,NaN,NaN,Libya,79.817,right_only
113,NaN,NaN,NaN,NaN,NaN,NaN,Liechtenstein,14.315,right_only
120,NaN,NaN,NaN,NaN,NaN,NaN,Maldives,39.380,right_only
123,NaN,NaN,NaN,NaN,NaN,NaN,Marshall Islands,76.634,right_only
127,NaN,NaN,NaN,NaN,NaN,NaN,"Micronesia, Fed. Sts.",22.608,right_only
129,NaN,NaN,NaN,NaN,NaN,NaN,Monaco,100.000,right_only
136,NaN,NaN,NaN,NaN,NaN,NaN,Nauru,100.000,right_only
145,NaN,NaN,NaN,NaN,NaN,NaN,Northern Mariana Islands,91.530,right_only
149,NaN,NaN,NaN,NaN,NaN,NaN,Palau,79.365,right_only
151,NaN,NaN,NaN,NaN,NaN,NaN,Papua New Guinea,13.102,right_only
157,NaN,NaN,NaN,NaN,NaN,NaN,Puerto Rico (US),93.587,right_only
158,NaN,NaN,NaN,NaN,NaN,NaN,Qatar,99.078,right_only
163,NaN,NaN,NaN,NaN,NaN,NaN,San Marino,97.072,right_only
168,NaN,NaN,NaN,NaN,NaN,NaN,Seychelles,56.261,right_only
170,NaN,NaN,NaN,NaN,NaN,NaN,Singapore,100.000,right_only
171,NaN,NaN,NaN,NaN,NaN,NaN,Sint Maarten (Dutch part),100.000,right_only
175,NaN,NaN,NaN,NaN,NaN,NaN,"Somalia, Fed. Rep.",44.391,right_only
177,NaN,NaN,NaN,NaN,NaN,NaN,South Sudan,19.346,right_only
187,NaN,NaN,NaN,NaN,NaN,NaN,Syrian Arab Republic,53.500,right_only
194,NaN,NaN,NaN,NaN,NaN,NaN,Tonga,23.169,right_only
199,NaN,NaN,NaN,NaN,NaN,NaN,Turks and Caicos Islands,92.817,right_only
200,NaN,NaN,NaN,NaN,NaN,NaN,Tuvalu,61.530,right_only
207,NaN,NaN,NaN,NaN,NaN,NaN,Uzbekistan,50.550,right_only
211,NaN,NaN,NaN,NaN,NaN,NaN,Virgin Islands (U.S.),95.603,right_only
212,NaN,NaN,NaN,NaN,NaN,NaN,West Bank and Gaza,75.894,right_only

In [124]:
#On ne garde que les lignes avec  correspondances
df_avec_pop_urb = df_avec_pop_urb[df_avec_pop_urb["_merge"] == "both"]

In [125]:
df_avec_pop_urb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 167 entries, 0 to 215
Data columns (total 9 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Zone_x                                                  167 non-null    object
 1   Disponibilité alimentaire en quantité (kg/personne/an)  167 non-null    float64
 2   Importations - Quantité                                 167 non-null    float64
 3   Production                                              167 non-null    float64
 4   Population                                              167 non-null    float64
 5   Zone en                                                 167 non-null    object
 6   Zone_y                                                  167 non-null    object
 7   % population urbaine 2017                               167 non-null    float64
 8   _merge                                                  167 non-null    category
dtypes: category(1), float64(5), object(3)
memory usage: 12.0+ KB

In [126]:
df_avec_pop_urb.head()

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,Zone_y,% population urbaine 2017,_merge
0,Afghanistan,1.53,29.0,28.0,36296.113,Afghanistan,Afghanistan,25.250,both
1,Albanie,16.36,38.0,13.0,2884.169,Albania,Albania,59.383,both
2,Algérie,6.38,2.0,275.0,41389.189,Algeria,Algeria,72.052,both
5,Angola,10.56,277.0,42.0,29816.766,Angola,Angola,64.839,both
6,Antigua-et-Barbuda,54.10,7.0,0.0,95.426,Antigua and Barbuda,Antigua and Barbuda,24.713,both

In [127]:
#Suppression de colonnes non utiles
df_avec_pop_urb.drop(columns=["_merge","Zone_y"], inplace=True)

In [128]:
df_avec_pop_urb.head()

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,% population urbaine 2017
0,Afghanistan,1.53,29.0,28.0,36296.113,Afghanistan,25.250
1,Albanie,16.36,38.0,13.0,2884.169,Albania,59.383
2,Algérie,6.38,2.0,275.0,41389.189,Algeria,72.052
5,Angola,10.56,277.0,42.0,29816.766,Angola,64.839
6,Antigua-et-Barbuda,54.10,7.0,0.0,95.426,Antigua and Barbuda,24.713

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">3.4 - Jointure df_avec_pop_urb et df_croissance_pib_2017</h3>
</div>

In [130]:
#Jointure entre les dataframes df_avec_pop_urb et df_croissance_pib_2017
df_avec_pib_2017 = df_avec_pop_urb.merge(df_croissance_pib_2017, left_on='Zone en', right_on="Zone", how='outer', indicator=True)

In [131]:
#Vérification des correspondances
df_avec_pib_2017._merge.value_counts()

_merge
both          164
right_only     45
left_only       3
Name: count, dtype: int64

In [132]:
#indentification des valeurs sans correspondance présentes uniquement dans df_avec_pop_urb
df_left_only_pib = df_avec_pib_2017[df_avec_pib_2017["_merge"] == "left_only"]
df_left_only_pib

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,% population urbaine 2017,Zone,Croissance PIB 2017,_merge
100,République populaire démocratique de Corée,1.62,0.0,43.0,25429.825,"Korea, Dem. People's Rep.",61.678,NaN,NaN,left_only
136,Nouvelle-Calédonie,38.71,9.0,1.0,277.150,New Caledonia,70.256,NaN,NaN,left_only
205,Venezuela (République bolivarienne du),20.28,25.0,600.0,29402.484,"Venezuela, RB",88.183,NaN,NaN,left_only

In [133]:
#indentification des valeurs sans correspondance présentes uniquement dans df_croissance_pib_2017
df_right_only_pib = df_avec_pib_2017[df_avec_pib_2017["_merge"] == "right_only"]
df_right_only_pib

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,% population urbaine 2017,Zone,Croissance PIB 2017,_merge
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,American Samoa,-6.987578,right_only
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Andorra,0.346072,right_only
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aruba,7.048533,right_only
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bahrain,4.953835,right_only
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bermuda,3.611420,right_only
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bhutan,2.086845,right_only
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Brunei Darussalam,1.328727,right_only
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Burundi,0.500001,right_only
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cayman Islands,3.184046,right_only
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Channel Islands,1.806481,right_only
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Comoros,5.596190,right_only
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Congo, Dem. Rep.",3.726948,right_only
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Curacao,-1.276208,right_only
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Djibouti,5.458092,right_only
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Equatorial Guinea,-5.667509,right_only
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Faroe Islands,3.512014,right_only
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Greenland,0.052728,right_only
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Guam,0.890100,right_only
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Isle of Man,2.837758,right_only
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo,4.825656,right_only
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lao PDR,6.892531,right_only
110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Libya,32.491802,right_only
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maldives,7.074429,right_only
120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marshall Islands,3.558152,right_only
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Micronesia, Fed. Sts.",0.823045,right_only
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Monaco,-3.206183,right_only
133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nauru,-6.011230,right_only
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Mariana Islands,23.170732,right_only
146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Palau,-3.260018,right_only
148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Papua New Guinea,3.534611,right_only
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Puerto Rico (US),-2.885218,right_only
155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Qatar,-1.497605,right_only
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,San Marino,0.258265,right_only
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Seychelles,6.954162,right_only
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Singapore,4.476899,right_only
168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sint Maarten (Dutch part),-7.535214,right_only
172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Somalia, Fed. Rep.",14.735796,right_only
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,St. Martin (French part),-8.000003,right_only
184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Syrian Arab Republic,-0.723282,right_only
190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tonga,3.202320,right_only
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Turks and Caicos Islands,-2.490223,right_only
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tuvalu,2.448393,right_only
203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uzbekistan,4.395275,right_only
207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Virgin Islands (U.S.),-0.735294,right_only
208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Bank and Gaza,1.419368,right_only

In [134]:
#On ne garde que les lignes avec  correspondances
df_avec_pib_2017 = df_avec_pib_2017[df_avec_pib_2017["_merge"] == "both"]

In [135]:
df_avec_pib_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 164 entries, 0 to 211
Data columns (total 10 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Zone_x                                                  164 non-null    object
 1   Disponibilité alimentaire en quantité (kg/personne/an)  164 non-null    float64
 2   Importations - Quantité                                 164 non-null    float64
 3   Production                                              164 non-null    float64
 4   Population                                              164 non-null    float64
 5   Zone en                                                 164 non-null    object
 6   % population urbaine 2017                               164 non-null    float64
 7   Zone                                                    164 non-null    object
 8   Croissance PIB 2017                                     164 non-null    float64
 9   _merge                                                  164 non-null    category
dtypes: category(1), float64(6), object(3)
memory usage: 13.1+ KB

In [136]:
df_avec_pib_2017.head()

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,% population urbaine 2017,Zone,Croissance PIB 2017,_merge
0,Afghanistan,1.53,29.0,28.0,36296.113,Afghanistan,25.250,Afghanistan,2.647003,both
1,Albanie,16.36,38.0,13.0,2884.169,Albania,59.383,Albania,3.283176,both
2,Algérie,6.38,2.0,275.0,41389.189,Algeria,72.052,Algeria,1.500000,both
5,Angola,10.56,277.0,42.0,29816.766,Angola,64.839,Angola,-0.147213,both
6,Antigua-et-Barbuda,54.10,7.0,0.0,95.426,Antigua and Barbuda,24.713,Antigua and Barbuda,2.712727,both

In [137]:
#Suppression de colonnes non utiles
df_avec_pib_2017.drop(columns=["_merge","Zone"], inplace=True)

In [138]:
df_avec_pib_2017.head()

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,% population urbaine 2017,Croissance PIB 2017
0,Afghanistan,1.53,29.0,28.0,36296.113,Afghanistan,25.250,2.647003
1,Albanie,16.36,38.0,13.0,2884.169,Albania,59.383,3.283176
2,Algérie,6.38,2.0,275.0,41389.189,Algeria,72.052,1.500000
5,Angola,10.56,277.0,42.0,29816.766,Angola,64.839,-0.147213
6,Antigua-et-Barbuda,54.10,7.0,0.0,95.426,Antigua and Barbuda,24.713,2.712727

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">3.5 - Jointure df_avec_pib_2017 et df_pib_hbt_2017</h3>
</div>

In [140]:
#Jointure entre les dataframes df_avec_pib_2017 et df_pib__hbt_2017
df_avec_pib_hbt = df_avec_pib_2017.merge(df_pib_hbt_2017, left_on='Zone en', right_on="Zone", how='outer', indicator=True)

In [141]:
#Vérification des correspondances
df_avec_pib_hbt._merge.value_counts()

_merge
both          164
right_only     44
left_only       0
Name: count, dtype: int64

In [142]:
#identification des valeurs sans correspondance présentes uniquement dans df_croissance_pib_2017
df_right_only_pibhbt = df_avec_pib_hbt[df_avec_pib_hbt["_merge"] == "right_only"]
df_right_only_pibhbt

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,% population urbaine 2017,Croissance PIB 2017,Zone,PIB / hbt 2017,_merge
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,American Samoa,11930.777124,right_only
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Andorra,39361.062263,right_only
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aruba,29671.135829,right_only
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bahrain,23606.886750,right_only
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bermuda,107734.608357,right_only
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bhutan,3211.809033,right_only
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Brunei Darussalam,29524.659045,right_only
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Burundi,269.476890,right_only
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cayman Islands,77717.175206,right_only
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Channel Islands,63397.752468,right_only
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Comoros,1385.614176,right_only
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Congo, Dem. Rep.",462.482921,right_only
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Curacao,18651.479814,right_only
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Djibouti,2596.451347,right_only
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Equatorial Guinea,7259.109365,right_only
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Faroe Islands,53831.029495,right_only
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Greenland,46597.945247,right_only
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Guam,35850.902552,right_only
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Isle of Man,93200.310808,right_only
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo,3890.178073,right_only
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lao PDR,2351.574417,right_only
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Libya,9435.600600,right_only
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maldives,10263.299119,right_only
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marshall Islands,4190.934686,right_only
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Micronesia, Fed. Sts.",2928.722779,right_only
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Monaco,165781.779122,right_only
132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nauru,7309.381386,right_only
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Mariana Islands,28989.347022,right_only
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Palau,15076.816458,right_only
146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Papua New Guinea,2584.888364,right_only
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Puerto Rico (US),29061.556380,right_only
153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Qatar,64497.698723,right_only
158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,San Marino,43057.778478,right_only
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Seychelles,17921.573198,right_only
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Singapore,59485.301587,right_only
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sint Maarten (Dutch part),33945.418518,right_only
170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Somalia, Fed. Rep.",506.501099,right_only
181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Syrian Arab Republic,795.883217,right_only
187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tonga,4568.624850,right_only
192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Turks and Caicos Islands,24684.200843,right_only
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tuvalu,3666.201897,right_only
200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uzbekistan,2995.767614,right_only
203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Virgin Islands (U.S.),34435.494446,right_only
204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Bank and Gaza,3462.979861,right_only

In [143]:
#On ne garde que les lignes avec  correspondances
df_avec_pib_hbt = df_avec_pib_hbt[df_avec_pib_hbt["_merge"] == "both"]

In [144]:
df_avec_pib_hbt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 164 entries, 0 to 207
Data columns (total 11 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Zone_x                                                  164 non-null    object
 1   Disponibilité alimentaire en quantité (kg/personne/an)  164 non-null    float64
 2   Importations - Quantité                                 164 non-null    float64
 3   Production                                              164 non-null    float64
 4   Population                                              164 non-null    float64
 5   Zone en                                                 164 non-null    object
 6   % population urbaine 2017                               164 non-null    float64
 7   Croissance PIB 2017                                     164 non-null    float64
 8   Zone                                                    164 non-null    object
 9   PIB / hbt 2017                                          164 non-null    float64
 10  _merge                                                  164 non-null    category
dtypes: category(1), float64(7), object(3)
memory usage: 14.4+ KB

In [145]:
df_avec_pib_hbt.head()

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,% population urbaine 2017,Croissance PIB 2017,Zone,PIB / hbt 2017,_merge
0,Afghanistan,1.53,29.0,28.0,36296.113,Afghanistan,25.250,2.647003,Afghanistan,562.769574,both
1,Albanie,16.36,38.0,13.0,2884.169,Albania,59.383,3.283176,Albania,4283.982627,both
2,Algérie,6.38,2.0,275.0,41389.189,Algeria,72.052,1.500000,Algeria,4742.900755,both
5,Angola,10.56,277.0,42.0,29816.766,Angola,64.839,-0.147213,Angola,2911.600842,both
6,Antigua-et-Barbuda,54.10,7.0,0.0,95.426,Antigua and Barbuda,24.713,2.712727,Antigua and Barbuda,16992.932750,both

In [146]:
#Suppression de colonnes non utiles
df_avec_pib_hbt.drop(columns=["_merge","Zone"], inplace=True)

In [147]:
df_avec_pib_hbt

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,% population urbaine 2017,Croissance PIB 2017,PIB / hbt 2017
0,Afghanistan,1.53,29.0,28.0,36296.113,Afghanistan,25.250,2.647003,562.769574
1,Albanie,16.36,38.0,13.0,2884.169,Albania,59.383,3.283176,4283.982627
2,Algérie,6.38,2.0,275.0,41389.189,Algeria,72.052,1.500000,4742.900755
5,Angola,10.56,277.0,42.0,29816.766,Angola,64.839,-0.147213,2911.600842
6,Antigua-et-Barbuda,54.10,7.0,0.0,95.426,Antigua and Barbuda,24.713,2.712727,16992.932750
...,...,...,...,...,...,...,...,...,...
201,Vanuatu,11.66,4.0,1.0,285.510,Vanuatu,25.163,4.412666,2946.961862
202,Viet Nam,12.33,291.0,918.0,94600.648,Viet Nam,35.213,6.940190,2868.136800
205,Yémen,8.53,78.0,168.0,27834.819,"Yemen, Rep.",36.016,-5.071796,1103.456349
206,Zambie,3.42,12.0,49.0,16853.599,Zambia,42.976,3.525863,1308.768292
207,Zimbabwe,4.68,6.0,69.0,14236.595,Zimbabwe,32.237,4.734411,1422.193460

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">3.6 - Jointure df_avec_pib_hbt et df_doing_business_2017</h3>
</div>

In [149]:
#Jointure entre les dataframes df_avec_pib__hbt et df_doing_business_2017
df_avec_db_2017 = df_avec_pib_hbt.merge(df_doing_business_2017, left_on='Zone en', right_on="Zone", how='outer', indicator=True)

In [150]:
#Vérification des correspondances
df_avec_db_2017._merge.value_counts()

_merge
both          160
right_only     30
left_only       4
Name: count, dtype: int64

In [151]:
#Identification des valeurs sans correspondance présentes uniquement dans df_avec_pib_hbt_2017
df_left_only_db = df_avec_db_2017[df_avec_db_2017["_merge"] == "left_only"]
df_left_only_db

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,% population urbaine 2017,Croissance PIB 2017,PIB / hbt 2017,Zone,Doing business score 2017,_merge
42,Cuba,23.72,312.0,29.0,11339.254,Cuba,76.977,1.809792,7927.277693,NaN,NaN,left_only
60,Polynésie française,47.40,15.0,1.0,276.102,French Polynesia,61.784,4.292634,20287.768583,NaN,NaN,left_only
102,Chine - RAS de Macao,34.47,23.0,3.0,622.585,"Macao SAR, China",100.000,9.860052,75807.892751,NaN,NaN,left_only
179,Turkménistan,4.52,9.0,20.0,5757.667,Turkmenistan,51.153,6.500000,6222.555906,NaN,NaN,left_only

In [152]:
#Identification des valeurs sans correspondance présentes uniquement dans df_doing_business_2017
df_right_only_db = df_avec_db_2017[df_avec_db_2017["_merge"] == "right_only"]
df_right_only_db

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,% population urbaine 2017,Croissance PIB 2017,PIB / hbt 2017,Zone,Doing business score 2017,_merge
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bahrain,69.09366,right_only
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bhutan,65.76640,right_only
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Brunei Darussalam,67.68007,right_only
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Burundi,45.91224,right_only
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Comoros,46.87233,right_only
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Congo, Dem. Rep.",34.57002,right_only
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Djibouti,50.88048,right_only
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Equatorial Guinea,40.26392,right_only
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eritrea,21.37138,right_only
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo,70.51486,right_only
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lao PDR,49.98578,right_only
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Libya,32.50611,right_only
106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maldives,53.20063,right_only
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marshall Islands,50.94163,right_only
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Micronesia, Fed. Sts.",48.10096,right_only
131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Palau,53.65900,right_only
133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Papua New Guinea,59.39568,right_only
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Puerto Rico,69.82224,right_only
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Qatar,66.02767,right_only
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,San Marino,61.88410,right_only
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Seychelles,61.51062,right_only
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Singapore,85.57215,right_only
156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia,19.97770,right_only
158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South Sudan,31.64063,right_only
168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Syrian Arab Republic,41.44563,right_only
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Taiwan, China",80.72856,right_only
175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tonga,61.57496,right_only
186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uzbekistan,66.61398,right_only
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Venezuela, RB",30.03484,right_only
190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Bank and Gaza,59.27638,right_only

In [153]:
#On ne garde que les lignes avec  correspondances
df_avec_db_2017 = df_avec_db_2017[df_avec_db_2017["_merge"] == "both"]

In [154]:
df_avec_db_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 160 entries, 0 to 193
Data columns (total 12 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Zone_x                                                  160 non-null    object
 1   Disponibilité alimentaire en quantité (kg/personne/an)  160 non-null    float64
 2   Importations - Quantité                                 160 non-null    float64
 3   Production                                              160 non-null    float64
 4   Population                                              160 non-null    float64
 5   Zone en                                                 160 non-null    object
 6   % population urbaine 2017                               160 non-null    float64
 7   Croissance PIB 2017                                     160 non-null    float64
 8   PIB / hbt 2017                                          160 non-null    float64
 9   Zone                                                    160 non-null    object
 10  Doing business score 2017                               160 non-null    float64
 11  _merge                                                  160 non-null    category
dtypes: category(1), float64(8), object(3)
memory usage: 15.3+ KB

In [155]:
df_avec_db_2017.head()

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,% population urbaine 2017,Croissance PIB 2017,PIB / hbt 2017,Zone,Doing business score 2017,_merge
0,Afghanistan,1.53,29.0,28.0,36296.113,Afghanistan,25.250,2.647003,562.769574,Afghanistan,37.13062,both
1,Albanie,16.36,38.0,13.0,2884.169,Albania,59.383,3.283176,4283.982627,Albania,66.83770,both
2,Algérie,6.38,2.0,275.0,41389.189,Algeria,72.052,1.500000,4742.900755,Algeria,46.22686,both
3,Angola,10.56,277.0,42.0,29816.766,Angola,64.839,-0.147213,2911.600842,Angola,39.00774,both
4,Antigua-et-Barbuda,54.10,7.0,0.0,95.426,Antigua and Barbuda,24.713,2.712727,16992.932750,Antigua and Barbuda,59.79669,both

In [156]:
#Suppression de colonnes non utiles
df_avec_db_2017.drop(columns=["_merge","Zone"], inplace=True)

In [157]:
df_avec_db_2017

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,% population urbaine 2017,Croissance PIB 2017,PIB / hbt 2017,Doing business score 2017
0,Afghanistan,1.53,29.0,28.0,36296.113,Afghanistan,25.250,2.647003,562.769574,37.13062
1,Albanie,16.36,38.0,13.0,2884.169,Albania,59.383,3.283176,4283.982627,66.83770
2,Algérie,6.38,2.0,275.0,41389.189,Algeria,72.052,1.500000,4742.900755,46.22686
3,Angola,10.56,277.0,42.0,29816.766,Angola,64.839,-0.147213,2911.600842,39.00774
4,Antigua-et-Barbuda,54.10,7.0,0.0,95.426,Antigua and Barbuda,24.713,2.712727,16992.932750,59.79669
...,...,...,...,...,...,...,...,...,...,...
187,Vanuatu,11.66,4.0,1.0,285.510,Vanuatu,25.163,4.412666,2946.961862,60.92111
189,Viet Nam,12.33,291.0,918.0,94600.648,Viet Nam,35.213,6.940190,2868.136800,66.97960
191,Yémen,8.53,78.0,168.0,27834.819,"Yemen, Rep.",36.016,-5.071796,1103.456349,31.26677
192,Zambie,3.42,12.0,49.0,16853.599,Zambia,42.976,3.525863,1308.768292,64.23311
193,Zimbabwe,4.68,6.0,69.0,14236.595,Zimbabwe,32.237,4.734411,1422.193460,48.58986

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">3.7 - Jointure entre df_avec_db_2017 et df_idh_2017</h3>
</div>

In [159]:
#Jointure entre les dataframes df_avec_db_2017 et df_idh_2017
df_avec_idh_2017 = df_avec_db_2017.merge(df_idh_2017, left_on='Zone en', right_on="Zone", how='outer', indicator=True)

In [160]:
#Vérification des correspondances
df_avec_idh_2017._merge.value_counts()

_merge
both          160
right_only     32
left_only       0
Name: count, dtype: int64

In [161]:
#Identification des valeurs sans correspondance présentes uniquement dans df_idh_2017
df_right_only_idh = df_avec_idh_2017[df_avec_idh_2017["_merge"] == "right_only"]
df_right_only_idh

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,% population urbaine 2017,Croissance PIB 2017,PIB / hbt 2017,Doing business score 2017,Zone,Idh 2017,_merge
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Andorra,0.873,right_only
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bahrain,0.874,right_only
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bhutan,0.656,right_only
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Brunei Darussalam,0.837,right_only
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Burundi,0.434,right_only
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Comoros,0.577,right_only
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Congo (Democratic Republic of the),0.491,right_only
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cuba,0.767,right_only
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Djibouti,0.484,right_only
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Equatorial Guinea,0.661,right_only
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eritrea,0.480,right_only
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lao People's Democratic Republic,0.612,right_only
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Libya,0.740,right_only
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Liechtenstein,0.929,right_only
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maldives,0.739,right_only
108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marshall Islands,0.702,right_only
112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Micronesia (Federated States of),0.607,right_only
120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nauru,0.670,right_only
131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Palau,0.804,right_only
132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Palestine, State of",0.721,right_only
134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Papua New Guinea,0.555,right_only
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Qatar,0.870,right_only
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,San Marino,0.903,right_only
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Seychelles,0.844,right_only
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Singapore,0.935,right_only
157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South Sudan,0.292,right_only
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Syrian Arab Republic,0.551,right_only
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tonga,0.755,right_only
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Turkmenistan,0.732,right_only
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tuvalu,0.668,right_only
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uzbekistan,0.719,right_only
187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Venezuela (Bolivarian Republic of),0.749,right_only

In [162]:
#On ne garde que les lignes avec  correspondances
df_avec_idh_2017 = df_avec_idh_2017[df_avec_idh_2017["_merge"] == "both"]

In [163]:
df_avec_idh_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 160 entries, 0 to 191
Data columns (total 13 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Zone_x                                                  160 non-null    object
 1   Disponibilité alimentaire en quantité (kg/personne/an)  160 non-null    float64
 2   Importations - Quantité                                 160 non-null    float64
 3   Production                                              160 non-null    float64
 4   Population                                              160 non-null    float64
 5   Zone en                                                 160 non-null    object
 6   % population urbaine 2017                               160 non-null    float64
 7   Croissance PIB 2017                                     160 non-null    float64
 8   PIB / hbt 2017                                          160 non-null    float64
 9   Doing business score 2017                               160 non-null    float64
 10  Zone                                                    160 non-null    object
 11  Idh 2017                                                160 non-null    float64
 12  _merge                                                  160 non-null    category
dtypes: category(1), float64(9), object(3)
memory usage: 16.5+ KB

In [164]:
#Suppression de colonnes non utiles
df_avec_idh_2017.drop(columns=["_merge","Zone"], inplace=True)

In [165]:
df_avec_idh_2017.head()

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,% population urbaine 2017,Croissance PIB 2017,PIB / hbt 2017,Doing business score 2017,Idh 2017
0,Afghanistan,1.53,29.0,28.0,36296.113,Afghanistan,25.250,2.647003,562.769574,37.13062,0.496
1,Albanie,16.36,38.0,13.0,2884.169,Albania,59.383,3.283176,4283.982627,66.83770,0.798
2,Algérie,6.38,2.0,275.0,41389.189,Algeria,72.052,1.500000,4742.900755,46.22686,0.746
4,Angola,10.56,277.0,42.0,29816.766,Angola,64.839,-0.147213,2911.600842,39.00774,0.610
5,Antigua-et-Barbuda,54.10,7.0,0.0,95.426,Antigua and Barbuda,24.713,2.712727,16992.932750,59.79669,0.845

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">3.8 - Jointure entre df_avec_idh_2017 et df_stabilité_politique_2017</h3>
</div>

In [167]:
#Jointure entre les dataframes df_avec_idh_2017 et df_avec_sta_pol_2017
df_avec_sta_pol_2017 = df_avec_idh_2017.merge(df_stabilité_politique_2017, left_on='Zone en', right_on="Zone", how='outer', indicator=True)

In [168]:
#Vérification des correspondances
df_avec_sta_pol_2017._merge.value_counts()

_merge
both          160
right_only     51
left_only       0
Name: count, dtype: int64

In [169]:
#Identification des valeurs sans correspondance présentes uniquement dans df_idh_2017
df_right_only_sta = df_avec_sta_pol_2017[df_avec_sta_pol_2017["_merge"] == "right_only"]
df_right_only_sta

,Zone_x,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,Zone en,% population urbaine 2017,Croissance PIB 2017,PIB / hbt 2017,Doing business score 2017,Idh 2017,Zone,Stabilité Politique 2017,_merge
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,American Samoa,1.184324,right_only
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Andorra,1.392890,right_only
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Anguilla,1.358391,right_only
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aruba,1.313846,right_only
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bahrain,-0.958746,right_only
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bermuda,0.981491,right_only
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bhutan,1.102795,right_only
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Brunei Darussalam,1.153427,right_only
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Burundi,-2.002575,right_only
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cayman Islands,1.162611,right_only
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Comoros,0.022408,right_only
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Congo, Dem. Rep.",-2.339440,right_only
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cuba,0.638511,right_only
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Djibouti,-0.733945,right_only
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Equatorial Guinea,-0.172020,right_only
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eritrea,-0.733444,right_only
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,French Guiana,0.492241,right_only
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Greenland,1.927584,right_only
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Guam,0.678460,right_only
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jersey, Channel Islands",1.277442,right_only
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Korea, Dem. People's Rep.",-0.500023,right_only
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo,-0.244493,right_only
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lao PDR,0.394013,right_only
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Libya,-2.353576,right_only
110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Liechtenstein,1.459085,right_only
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Macao SAR, China",1.407130,right_only
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maldives,0.224532,right_only
120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marshall Islands,1.034588,right_only
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Martinique,0.981491,right_only
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Micronesia, Fed. Sts.",1.161634,right_only
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Monaco,1.615091,right_only
134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nauru,0.931891,right_only
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Palau,1.213739,right_only
147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Papua New Guinea,-0.691195,right_only
153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Puerto Rico,0.481971,right_only
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Qatar,0.647983,right_only
155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Reunion,0.293629,right_only
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,San Marino,1.392890,right_only
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Seychelles,0.779474,right_only
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Singapore,1.599125,right_only
171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia,-2.249911,right_only
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South Sudan,-2.446237,right_only
183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Syrian Arab Republic,-2.612919,right_only
184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Taiwan, China",0.858923,right_only
190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tonga,0.771568,right_only
194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Turkmenistan,-0.128823,right_only
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tuvalu,1.213739,right_only
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uzbekistan,-0.244979,right_only
204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Venezuela, RB",-1.252241,right_only
206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Virgin Islands (U.S.),0.981491,right_only
207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Bank and Gaza,-1.650646,right_only

In [170]:
#On ne garde que les lignes avec  correspondances
df_avec_sta_pol_2017 = df_avec_sta_pol_2017[df_avec_sta_pol_2017["_merge"] == "both"]

In [171]:
df_avec_sta_pol_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 160 entries, 0 to 210
Data columns (total 14 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Zone_x                                                  160 non-null    object
 1   Disponibilité alimentaire en quantité (kg/personne/an)  160 non-null    float64
 2   Importations - Quantité                                 160 non-null    float64
 3   Production                                              160 non-null    float64
 4   Population                                              160 non-null    float64
 5   Zone en                                                 160 non-null    object
 6   % population urbaine 2017                               160 non-null    float64
 7   Croissance PIB 2017                                     160 non-null    float64
 8   PIB / hbt 2017                                          160 non-null    float64
 9   Doing business score 2017                               160 non-null    float64
 10  Idh 2017                                                160 non-null    float64
 11  Zone                                                    160 non-null    object
 12  Stabilité Politique 2017                                160 non-null    float64
 13  _merge                                                  160 non-null    category
dtypes: category(1), float64(10), object(3)
memory usage: 17.8+ KB

In [172]:
df_avec_sta_pol_2017.rename(columns={"Zone_x": "Pays"}, inplace=True)

In [173]:
#Suppression de colonnes non utiles
df_avec_sta_pol_2017.drop(columns=["_merge","Zone", "Zone en"], inplace=True)

In [174]:
df_avec_sta_pol_2017

,Pays,Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité,Production,Population,% population urbaine 2017,Croissance PIB 2017,PIB / hbt 2017,Doing business score 2017,Idh 2017,Stabilité Politique 2017
0,Afghanistan,1.53,29.0,28.0,36296.113,25.250,2.647003,562.769574,37.13062,0.496,-2.794976
1,Albanie,16.36,38.0,13.0,2884.169,59.383,3.283176,4283.982627,66.83770,0.798,0.373771
2,Algérie,6.38,2.0,275.0,41389.189,72.052,1.500000,4742.900755,46.22686,0.746,-0.919614
5,Angola,10.56,277.0,42.0,29816.766,64.839,-0.147213,2911.600842,39.00774,0.610,-0.387895
7,Antigua-et-Barbuda,54.10,7.0,0.0,95.426,24.713,2.712727,16992.932750,59.79669,0.845,0.732061
...,...,...,...,...,...,...,...,...,...,...,...
203,Vanuatu,11.66,4.0,1.0,285.510,25.163,4.412666,2946.961862,60.92111,0.607,0.676285
205,Viet Nam,12.33,291.0,918.0,94600.648,35.213,6.940190,2868.136800,66.97960,0.729,0.211102
208,Yémen,8.53,78.0,168.0,27834.819,36.016,-5.071796,1103.456349,31.26677,0.459,-2.934317
209,Zambie,3.42,12.0,49.0,16853.599,42.976,3.525863,1308.768292,64.23311,0.570,0.142043
210,Zimbabwe,4.68,6.0,69.0,14236.595,32.237,4.734411,1422.193460,48.58986,0.575,-0.710431

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 4 - Finalisation du fichier avant analyse</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">4.1 - Modification du nom</h3>
</div>

In [177]:
#modification du nom du dataframe
df_liste_pays = df_avec_sta_pol_2017

In [178]:
#On retire la France des données car ce pays n'est pas concerné par l'étude
df_liste_pays = df_liste_pays[df_liste_pays['Pays'] != 'France'].reset_index(drop=True)
df_liste_pays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 11 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Pays                                                    159 non-null    object
 1   Disponibilité alimentaire en quantité (kg/personne/an)  159 non-null    float64
 2   Importations - Quantité                                 159 non-null    float64
 3   Production                                              159 non-null    float64
 4   Population                                              159 non-null    float64
 5   % population urbaine 2017                               159 non-null    float64
 6   Croissance PIB 2017                                     159 non-null    float64
 7   PIB / hbt 2017                                          159 non-null    float64
 8   Doing business score 2017                               159 non-null    float64
 9   Idh 2017                                                159 non-null    float64
 10  Stabilité Politique 2017                                159 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.8+ KB

**Le dataframe final comporte des données sur 159 pays, et aucune donnée n'est manquante.**

In [180]:
#Population concernée par la liste de pays en nomnbre d'habitants
population_totale_liste = (df_liste_pays.Population.sum() *1000)
print("La population des différents pays de la liste s'élèvent à", population_totale_liste, "habitants en 2017.")

La population des différents pays de la liste s'élèvent à 7166806360.0 habitants en 2017.

In [181]:
#Calcul de la part de la population mondiale dans la liste des pays
part_pop_liste = round((population_totale_liste / population_mondiale_2017)*100, 1)
print("La population des pays de la liste représente", part_pop_liste, "% de la population mondiale 2017.")

La population des pays de la liste représente 94.9 % de la population mondiale 2017.

In [182]:
#Extraire le dataframe au format .pkl
df_liste_pays.to_pickle('df_liste_pays.pkl')

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">4.2 - Standardisation des données</h3>
</div>

In [184]:
#Colonnes à standardiser
colonnes_a_standardiser = [
    "Disponibilité alimentaire en quantité (kg/personne/an)", "Importations - Quantité", "Production",
    "Population", "% population urbaine 2017", "Croissance PIB 2017", "PIB / hbt 2017", 
    "Doing business score 2017", "Idh 2017", "Stabilité Politique 2017"
]
#Importation de la classe StandardScaler depuis la librairie scikit-learn 
from sklearn.preprocessing import StandardScaler
# Instanciation du scaler
scaler = StandardScaler()
# Sélection des données numériques
df_num = df_liste_pays[colonnes_a_standardiser]
# Standardisation
scaled_array = scaler.fit_transform(df_num)
# Création du DataFrame standardisé
df_num_scaled = pd.DataFrame(scaled_array, columns=colonnes_a_standardiser, index=df_num.index)
# Fusion dans une copie complète du DataFrame original
df_liste_pays_sd = df_liste_pays.copy()
df_liste_pays_sd[colonnes_a_standardiser] = df_num_scaled

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">4.3 - Sauvergarde du fichier</h3>
</div>

In [186]:
#Extraire les dataframe au format .pkl
df_liste_pays_sd.to_pickle('df_liste_pays_sd.pkl')
#Extraire le dataframe au format .pkl
df_liste_pays.to_pickle('df_liste_pays.pkl')